# Byte-compiled / cache
__pycache__/
*.py[cod]
.pytest_cache/

# Virtual env
.venv/
venv/

# Data artifacts
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Model artifacts
models/*
!models/.gitkeep

# Benchmark artifacts
reports/*
!reports/.gitkeep

# Local env
.env

# MLflow local tracking artifacts
mlruns/
mlflow.db

# IDE
.vscode/
.idea/

wiki.md
